.GameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Heading for Game Over */
  .GameOver h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ca0000;
    margin-bottom: 10px;
  }
  
  /* Styling for the score text */
  .GameOver p {
    font-size: 20px;
    color: #333;
    margin: 5px 0;
    font-weight: bold;
  }
  
  /* New high score text */
  .GameOver p:nth-child(3) {
    color: #007bff;
  }
  
  /* Instruction text for pressing space */
  .GameOver p:last-child {
    font-size: 16px;
    color: #555;
  }
  